


    <div class="container">
        <div class="header">
           <p class="title">LAWYER'S CHOICE<p>
            <p class="mainline">The <strong> CHOICE </strong>of Every Lawyer</p>
        </div>
        <div class="databody">

            <div class="leftsection animated rollIn">
                <ul >
                    <li><a  id="link1" >MENU</a></li><br><br>
                    <li><a  id="link2">LAW</a></li><br><br>
                    <li><a  id="link3">ABOUT US</a></li><br><br>
                    <li><a  id="link4">CONTACT US</a></li>
                </ul>
            </div>
            <div>
                <div  id="div1" class="rightsection">
                    <h1 >Law Helper</h1>
                    <div id="options" style="postion:relitive;">
                        <ul>
                            <li><%=link_to('LOGIN',{:controller=>"lawyer",:action=>"login"})%></li>
                            <li><%=link_to('SIGNUP',{:controller=>"lawyer",:action=>"signup"})%></a></li>
                        </ul>
                    </div>
                </div>
                <div class="rightsection" id="div2">
                    <h1 >LAW</h1>
                    <div id="law">
                        <ol>
                            <li>1.Criminal Law, focusing on the relationship between law and crime.</li><br><br><br>
                            <li>2.Property Law, dealing with real property.</li><br><br><br>
                            <li>3.Intellectual Property Law, dealing with intangible assets.</li><br><br><br>
                            <li>4.Commercial Law, relating to all things involved with commerce.</li><br><br><br>
                            <li>5.Environmental Law, focusing on the protection.</li><br><br><br>

                            <li>6.Family Law, pertaining to family-related matters</li>


                        </ol>


                         
                    </div>
                </div>
                <div class="rightsection" id="div3">
                    <h1 >About us</h1>
                    <div id="aboutbody">
                        Here your can have about us material    
                    </div>
                </div >

                <div class="rightsection" id="div4">
                    <h1 >Contact Us</h1>
                    <div id="contactbody">
                        Here your can have about us material    
                    </div>
                </div>
            </div>
            


        
            <div class="bottomsection">
            </div>

        </div>


        <div class="page-footer">

        </div>



    </div>



     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


    <!-- Include all compiled plugins (below), or include individual files as needed -->
