<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8 " >
    <meta http-equi="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
    </script>
    <title>LAWYER CHOICE</title>
</head>


<body>
    <div class="container">
        <div class="header">
           <p class="title">LAWYER'S CHOICE<p>
            <p class="mainline">The <strong> CHOICE </strong>of Every Lawyer</p>
        </div>
        <div class="databody">

            <div class="leftsection">
                <ul >
                    <li><a  id="link1" >MENU</a></li><br><br>
                    <li><a  id="link2">LAW</a></li><br><br>
                    <li><a  id="link3">ABOUT US</a></li><br><br>
                    <li><a  id="link4">CONTACT US</a></li>
                </ul>
            </div>
            <div>
                <div  id="div1" class="rightsection">
                    hey1
                </div>
                <div class="rightsection" id="div2">
                    hey2
                </div>
                <div class="rightsection" id="div3">
                    <h1 >About us</h1>
                    <div id="aboutbody">
                        Here your can have about us material    
                    </div>
                </div >

                <div class="rightsection" id="div4">
                    <h1 >Contact Us</h1>
                    <div id="contactbody">
                        Here your can have about us material    
                    </div>
                </div>
            </div>
            


        
            <div class="bottomsection">
            </div>

        </div>


        <div class="page-footer">

        </div>



    </div>



     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


    <!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>