<html>
<head>
	<title>LOGIN PAGE</title>
</head>


<body>

	<div class="container">
		<div class="header">
			<h1>LOGIN PAGE</h1>
		</div>

		<div id="form_login">

			<!-- LOGIN FORM -->

	<%=form_for(:User,:url=>{:controller=>"lawyer",:action=>"loginuser"}) do |f| -%>
		<ul>
			<li>Username</li>
			<li><%=f.text_field("username")%></li>
		</ul>
		<ul>
			<li>Password</li>
			<li><%=password_field_tag("password")%></li><br><br>
			<li><%=submit_tag("Submit")%></li>	
		</ul>
	<% end -%>
		</div>

	</div>



	<div>

	</div>

</body>
</html>