#loginform{
	position: absolute;
	top:200px;
	left: 400px;
	border:1px solid #fff;
	padding: 50px 100px;
	background-color:#000;
	box-shadow: 25px 0px 0px 5px #fff;
	border-radius: 20px;



}



#text{

	color:#d5640c;

}

